
@{
    ViewBag.Title = "OrderView";
    Layout = "~/Views/Shared/_DeptLayout.cshtml";
}
<div class="sixteen wide tablet sixteen wide computer column">
    <h5 class="ui grid">Order View</h5>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Requested Date</th>
                <th>Requested Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Mr. XYZ</td>
                <td>01/06/2019</td>
                <td>1:00PM</td>
                <td><button class="ui basic primary outline button" onclick="viewOrder()">View</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Mr. XYZ</td>
                <td>01/06/2019</td>
                <td>5:50PM</td>
                <td><button class="ui basic primary outline button">View</button></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Mr. XYZ</td>
                <td>01/06/2019</td>
                <td>10:00AM</td>
                <td><button class="ui basic primary outline button">View</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="ui modal">
    <div class="header">Employee Id : 1 &nbsp;&nbsp; Employee Name : Mr.XYZ</div>
    <div class="content">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th style="background-color:#f2f2f2;">Code</th>
                    <th style="background-color:#f2f2f2;">Name</th>
                    <th style="background-color:#f2f2f2;">Qty</th>
                    <th style="background-color:#f2f2f2;">Price</th>
                    <th style="background-color:#f2f2f2;">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>XHKS</td>
                    <td>Pencil 2B</td>
                    <td>10</td>
                    <td>$1.5</td>
                    <td>$150.00</td>
                </tr>
                <tr>
                    <td>XHKS</td>
                    <td>Pencil 2B</td>
                    <td>10</td>
                    <td>$1.5</td>
                    <td>$150.00</td>
                </tr>
                <tr>
                    <td>XHKS</td>
                    <td>Pencil 2B</td>
                    <td>10</td>
                    <td>$1.5</td>
                    <td>$150.00</td>
                </tr>
                <tr>
                    <td>XHKS</td>
                    <td>Pencil 2B</td>
                    <td>10</td>
                    <td>$1.5</td>
                    <td>$150.00</td>
                </tr>
                <tr>
                    <td>XHKS</td>
                    <td>Pencil 2B</td>
                    <td>10</td>
                    <td>$1.5</td>
                    <td>$150.00</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>SUBTOTAL</th>
                    <th>$300.00</th>
                </tr>
            </tfoot>
        </table>
        <div class="ui grid">
            <div class="eight wide tablet column">
                <textarea style="width: 100%" rows="4" placeholder="Pleave give a reason..."></textarea>
            </div>
            <div class="eight wide tablet column" style="position: relative;">
                <div style="position : absolute; bottom : 10px;right: 10px;">
                    <button class="ui positive button">Approve</button>
                    <button class="ui negative button">Reject</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
     
    });

    function viewOrder() {
        $('.ui.modal').modal('show');
    }
</script>

