@{
    ViewBag.Title = "PickUpForm";
    Layout = "~/Views/Shared/_DeptLayout.cshtml";
}
<div class="sixteen wide tablet sixteen wide computer column">
    <div class="ui form">
        <div class="ui grid">
            <div class="sixteen wide tablet column">
                <h5 class="ui header" style="display : inline !important;">Order No : 44XXFF</h5>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h5 class="ui header" style="display : inline !important;">Department : English Department</h5>
            </div>
            <div class="eight wide column">

                <div class="field">
                    <label>Date Time : 01/07/2019</label>
                </div>
            </div>
            <div class="eight wide column">
                <div class="field">
                    <label>Time : 2 PM</label>
                </div>
            </div>
            <div class="eight wide column">
                <div class="field">
                    <label>Delivered by : John Cena</label>
                </div>
            </div>
            <div class="eight wide column">
                <div class="field">
                    <label>Pick up point : ISS Department</label>
                </div>
            </div>
        </div>
    </div>
    <form>
        <div class="ui grid">
            <div class="sixteen wide tablet column">
                <table class="ui celled table" style="border : 1px solid lightgrey !important;">
                    <thead>
                        <tr>
                            <th style="background-color:#f2f2f2;">Code</th>
                            <th style="background-color:#f2f2f2;">Name</th>
                            <th style="background-color:#f2f2f2;">Brand</th>
                            <th style="background-color:#f2f2f2;">Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Code">XHKS</td>
                            <td data-label="Name">Rechargeable Multi-Color Ball Point Pen</td>
                            <td data-label="Brand">BIC</td>
                            <td data-label="Qty">300</td>
                        </tr>
                        <tr>
                            <td data-label="Code">XHKS</td>
                            <td data-label="Name">Rechargeable Multi-Color Ball Point Pen</td>
                            <td data-label="Brand">BIC</td>
                            <td data-label="Qty">300</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </form>
</div>
   